/data/bpi-chall.xes
bpi-chall.xes
__pycache__/
*.pyc
*.pyo
.DS_Store
.vscode/
.idea/
.envdata/event_log/data_log.pkl
data/event_log/data_log.pkl
event_log_simulations_atkde/
simulation/spawner/config.py
simulation/spawner/DynamicSpawner2.py
/data/bpi-chall.xes.savedata/bpi-chall.xes.save
*.pkl
*.json
simulation_log.csv
